<section class="content">
  <h1 class="heading"><span class="first-letter">H</span>ealth</h1>
  <h1 class="heading"><span class="first-letter">I</span>s</h1>
  <h1 class="heading"><span class="first-letter">W</span>ealth</h1>
  <p class="description">
    Your Health is our Wealth Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ab
    saepe iusto aspernatur nemo laboriosam neque blanditiis, ipsa, consequatur suscipit eaque nihil,
    odit vitae quis. Expedita nam ut eius minus?
  </p>
</section>
