<div class="appointment-container">
  <div class="appointment-header">
    <h2>My Appointments</h2>
    <button (click)="bookAppointments()">+ Book</button>
  </div>
  <div class="appointments-table">
    <table>
      <thead>
        <th>Reason</th>
        <th>Date & Time</th>
        <th>Doctor</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        @for (appointment of appointments(); track appointment.id) {
          <tr>
            <td>{{ appointment.reason }}</td>
            <td>{{ appointment.scheduledFor }}</td>
            <td>{{ appointment.clinician['name'] }}</td>
            <td>{{ appointment.status }}</td>
            <td class="actions">
              @if (appointment.status === 'BOOKED') {
                @if (appointment.intake === null) {
                  <a [routerLink]="[`/patient/appointments/${appointment.id}/intake`]"
                    >Complete Intake</a
                  >
                }
                @if (appointment.intake !== null) {
                  <button (click)="checkIn(appointment.id)">
                    {{ isLoading() ? 'Checking-in...' : 'Check-in' }}
                  </button>
                }
                <button
                  class="action-btn reschedule-btn"
                  (click)="toggleReschedule(appointment.id)"
                >
                  {{ isLoading() ? 'Rescheduling...' : 'Reschedule' }}
                </button>
                <button class="action-btn cancel-btn" (click)="cancel(appointment.id)">
                  {{ isLoading() ? 'Cancelling...' : 'Cancel' }}
                </button>
              }
              @if (appointment.status === 'CHECKED_IN') {
                <p>Please wait! The doctor will call you</p>
              }

              @if (appointment.status === 'CALLED') {
                <p>You will be called by the doctor</p>
              }
              @if (appointment.status === 'COMPLETED') {}

              @if (showRescheduleForm() === appointment.id) {
                <form class="reschedule-form" (submit)="onReschedule($event)">
                  <label>
                    Date :
                    <input
                      type="date"
                      placeholder="Date is required..."
                      [formField]="rescheduleForm.scheduleFor"
                    />
                    <button type="submit">Reschedule</button>
                    <button (click)="toggleReschedule(appointment.id)">Cancel</button>
                  </label>
                </form>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
